*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 95%;
    justify-content: space-between;
    padding: 20px;
}
.nav1{
    display: flex;
    align-items: center;
}
.wikipedia_logo{
    height: 10vh;
    width: 17vw;
}
.search_bar{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-right: 50px;
    padding-left: 50px;
}
.search_box{
    width: 40vw;
    height: 2vh;
    padding: 10px;
    border-radius: 5px;
}
.search_button{
    width: 10vw;
    height: 5.2vh;
    border-radius: 5px;
}
.nav3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    padding: 20px;
}
.main_page{
    display: grid;
    grid-template-columns: 30vh auto 30vh;
    grid-template-rows: 5vh 5vh 15vh;
    gap: 5px;
    /* background-color: dodgerblue; */
    padding: 10px;
    align-items: start;
}
.main_page > div {
    /* background-color: #f1f1f1; */
    padding: 20px 0;
}
.sidebar{
    /* background-color: aqua; */
    grid-row-start: 1;
    grid-row-end: 5;
    
    position: sticky;
    top: 0px;
}
.pea_head{
    grid-column-start: 2;
    grid-column-end: 4;
}
.navigation{
    grid-column-start: 2;
    grid-column-end: 4;
}
.main_content{
    grid-column-start: 2;
    grid-column-end: 4;
}
.top_content{
    line-height: 30px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.pea_images{
    height: 200px;
    width: 250px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 5px;
    border: 1px solid black;
    margin: 5px;
    margin-bottom: 30px;
}
#menu:hover{
    cursor: pointer;
}
.wikipedia_logo:hover{
    cursor: pointer;
}
#menu2:hover{
    cursor: pointer;
}
.search_button:hover{
    cursor: pointer;
}
.downArrow{
    cursor: pointer;
}
.pea_img{
    height: 200px;
    width: 250px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: relative;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {
    display: block;
}
.underline{
    text-decoration: none;
}
.underline:hover{
    text-decoration: underline;
}
.yellow_box{
    height: 233px;
    width: 888px;
    background-color: #F8EABA;
    border: 1px solid black;
}
.bar1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: brown; */
    padding: 0px 10px 0px 10px;
}
.bar2{
    display: flex;
    align-items: center;
    justify-content: space-between ;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    margin: 5px 10px 5px 10px;
}
.bar3{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 8px;
    border: 1px solid black;
    border-left: 0px;
    margin-top: 15px;
}
.bar4{
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 20px;
    /* background-color: chartreuse; */
}
#bird:hover{
    cursor: pointer;
}
.small_box{
    height: 250px;
    width: 300px;
    background-color: #F8EABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 50px;

}
.Ambassador{
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}